.App-header {
  background-color: #c8ceda;
  font-size: 2rem;
  min-height: 100vh;
  line-height: 0.1rem;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(26, 24, 24);
}

.btn {
  background: #b234d9;
  background-image: -webkit-linear-gradient(top, #b234d9, #2d2bb8);
  background-image: -moz-linear-gradient(top, #b234d9, #2d2bb8);
  background-image: -ms-linear-gradient(top, #b234d9, #2d2bb8);
  background-image: -o-linear-gradient(top, #b234d9, #2d2bb8);
  background-image: linear-gradient(to bottom, #b234d9, #2d2bb8);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3c1eb3 1px;
  text-decoration: none;
  cursor: pointer;
}
